.log {
    position:relative;
    padding-left: 10vw;
    background-color: #f5f8fd;
    color: #000;
}

/*
.rightTitle1 {
    position:absolute;
    font-size: 3.6vmin;
    font-weight: normal;    
    top:0.3vmin;
    margin-left:5.5vmin;
    color: white;
    z-index: 50;
}
  
.rectangle1 {
    position: absolute;
    top:17vh;
    height: 9.5vmin;
    width: 47vmin;
    margin-left:16vw;
    background-color: #78cc1f;
    box-shadow:rgba(0, 0, 0, 0.2) -0.5vmin 0.7vmin 0.6vmin 0px;
    z-index: 1;
}
  
.emptyRectangle1 {
    position:relative;
    height: 10vmin;
    width: 46vmin;
    margin-left:-1.5vw;
    margin-top:2.5vh;
    border:0.8vmin solid #fff;
    box-shadow:rgba(0, 0, 0, 0.05) -0.5vmin 0.7vmin 0.6vmin 0px;
    z-index: 1;
}

.buttonGroup{
    margin-top:28vh;
    margin-left: 20vw;
}

.socialButton{
    height:7vmin;
    margin: 1.4vh 0;
    width:48vmin;
    border:0px;
    font-size:3vmin;
    color:#fff;
    box-shadow: rgba(0, 0, 0, 0.2) -0.5vmin 0.7vmin 0.6vmin 0px;
    white-space: nowrap;

}
*/

.logButton{
    height:5.5vmin;
    width:12vmin;
    border:0px;
    font-size:2vmin;
    color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    background-color:#78cc1f;
  }

.logButton:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.socialButton:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.45);
}

/*
@media only screen and (max-width: 767.9px) {
    .buttonGroup{
        margin-top:20vh;
        margin-left: 26vw;
    }

    .rectangle1{
        top:7vh;
        margin-left:10vw;
        height: 13vmin;
        width: 62vmin;
    }

    .emptyRectangle1{
        margin-left:-3.5vw;
        height: 13vmin;
        width: 60vmin;
    }

    .rightTitle1{
        font-size: 5vmin;
        top:1vmin;
    }

}
*/
  /* Input form */

.log-form {
    position: absolute;
    top:15;
    padding: 1vw;
    width: 22vw;
    height: 30vh;
}

.log-form h4 {
    color: #78cc1f;
}

.log-form p {
    font-size: 1.1vmin;
    font-weight: 400;
}

.input{
    border-radius: 0;
}

.btn {
    background-color: #78cc1f;
    color:white;
    right: 0;
}

.btn:hover, .btn:active, .btn:focus {
    color: #fff;
}

.log-form p{
    font-size: 2vmin;
}


.textspan{
    position: absolute;
    white-space: nowrap;
    margin-top: 7vh;
    color: #78cc1f;
    margin-left: 12vw;
    font-size: 2vmin;
}

.link:hover, .link:active {
    color: #78cc1f;
}
 
.md-form{
    width: 20vw;
}

.md-form2{
    width: 20vw;
    padding-top: 1px;
}

.form-title{
    padding-bottom: 4vh;
}

