.nav{
    background-color:#fff;
    position: fixed;
    top:0;
    width: 76vw;
    height: 10vh;
    margin: 0px 12vw;
    border-radius: 0 0 17px 17px;
    z-index:100;
}

.link{
    margin: 0 2vw;
    white-space: nowrap;
}

.notLink{
    color:#000;
    background-color: #78cc1f;
    height:9vh;
    width:8vw;
    margin: 0 2vw;
    white-space: nowrap;
}

.link:hover{
    background-color:#78cc1f; 
}

.link span{
    color:#000;
    font-size: 1.2vw;
}

.notLink span{
    color:#fff;
    font-size: 1.2vw;
}

.navName{ 
    display: none; 
}

/*

.blockRectangle{
    margin: 0 2.5vw;
    font-size: 1.3vw;
    font-style: bold;
    white-space: nowrap;
    z-index:100;
}

.rectangleCompany{
    position:absolute;
    top:0;
    height: 10vh;
    width: 9vw;
    margin-left: 2.7vmin;
    background-color: #404040;
    z-index: 0;
}

.rectangleStudent{
    position:absolute;
    top:0;
    height: 10vh;
    width: 9vw;
    margin-left:0.2vw;
    background-color: #78cc1f;
    z-index: 0;
} */

@media only screen and (max-width: 767.9px) {
    /*
    .rectangleCompany {
        display: none;
    }

    .rectangleStudent {
        display: none;
    }
    */
    .notLink{
        display: none;
    }

    .nav{
        background-color:#fff;
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 0px;
        z-index:100;
    }

    .navName{
        color:#000;
        font-size: 5vmin;
        margin-left: 7vw;
        display: block;
    }

    .hideBlocks{
        display:none;
    }

    .link{
        border-width: 0px 0px 2px 0px;
        border-style: solid;
        border-color: #f5f8fd;
    }

    .link span{
        color:#000;
        font-size: 3vmin;
        margin-left:9vw;
    }

    .navButton{
        background-color:#78cc1f;
        border:0px;
        border-radius:0px;
        height:60px;
        width:75px;
        margin-top:0vh;
        margin-left:4vw;
    }
}